# Project page descriptions:-------------------
# index.html - login page
# dashboard.html - student view page
# caretaker.html - caretaker view page

# Remaining tasks:---------------
# guard view page
# frontend backend integration